DATABASE_URL="./data/sqlite.db"
BETTER_AUTH_SECRET="your better auth secret"
BETTER_AUTH_URL="http://localhost:3000"

CLOUDINARY_CLOUD_NAME="your cloudinary cloud name"
CLOUDINARY_API_KEY="your cloudinary api key"
CLOUDINARY_API_SECRET="your cloudinary api secret"
CLOUDINARY_UPLOAD_PRESET="your cloudinary upload preset"
